
@{
    ViewBag.Title = "ServiceGuide";
}
@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<header>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/oj/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/main.css" rel="stylesheet"/>
</header>
<body>
    <header>
        <nav class="top">
            <p>服务指南</p>
        </nav>

    </header>
    <div width=100%>

        <iframe src="~/Content/File/服务指南.pdf" scrolling="no" width="100%" height=1000 scroll="no"></iframe>

    </div>
</body>


